<%- include("partials/header")%>


 <style>
          .container {
          border-color: whitesmoke;
          text-align: center;
          color:black;
          }
        .centered {
         
         text-emphasis-color: white;
         color:black;
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
       }

          img {
           
           width: 100%;
           height:40%;
         }
         
      </style>
     
     <div class="container-center">
        <img src="images/dark7.jpg" alt="" style >
         <div class="centered">
             <div class="text-center">
                 <br>
                <br>
        <h1>About us</h1>
        <br>
        <p>Sports Academy specializes in providing sport's article.</p>
        <p>We provide all the trending news on sports area.</p>    
            
            <h4>OUR MISSION</h4>
            <p>Sports Academy is a website for all the sports lovers to get details and be updated with their favourite sports.</p>

            <h4>OUR PROMISE</h4>
           <p> We deliver optimistic and diverse information’s, data’s and points of view to our audience of smart,
            curious, passionate sports lovers.</p>
            
           <h4> OUR VIBE</h4>
           <p> AT Sports Academy, we make magic, we dream for your love, and then we do it for you.
            Your satisfaction is our victory!!!</p>
     </div>
      </div>
     </div>
<%- include("partials/footer")%>